<table class="table table-dark table-borderless">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">e-mail</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each contatos}}
    <tr>
      <th scope="row">{{nome}}</th>
      <td>{{telefone}}</td>
      <td>{{email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>